# <font color=#ffdd00>Dicionário</font>

<font color=#888888>Pegar o valor de uma chave</font>

In [51]:
dados = { 'nome': 'Clemas', 'idade': 42, 'email': 'clemas.web@gmail.com' }
print( dados[ 'nome' ] )
print( dados.get( 'nome' ) )

Clemas
Clemas

<font color=#888888>Pegar uma chave que não existe</font>

In [52]:
print( dados.get( 'salario' ) )
# print( dados[ 'salario' ] ) # assim daria erro

None

<font color=#888888>Tratando erros de chave não encontrada</font>

In [53]:
# Método 1
if 'salario' in dados:
    print( dados[ 'salario' ] )
else:
    print( 'A chave salario não existe' )
    
# Método 2
if dados.get( 'salario' ) == None:
    print( 'A chave salario não existe' )
else:
    print( dados.get( 'salario' ) )

A chave salario não existe
A chave salario não existe

<font color=#888888>Adicionar/editar itens no dicionário</font>

In [54]:
dados[ 'salario' ] = 1000
print( dados )
dados.update( { 'alergia': 'dipirona', 'cor': 'preta' } )
print( dados )

lucro_1tri = {'janeiro': 100000, 'fevereiro': 120000, 'março': 90000}
lucro_2tri = {'abril': 88000, 'maio': 89000, 'junho': 120000}
lucro_anual = lucro_1tri
lucro_anual.update( lucro_2tri )
print( lucro_anual )

{'nome': 'Clemas', 'idade': 42, 'email': 'clemas.web@gmail.com', 'salario': 1000}
{'nome': 'Clemas', 'idade': 42, 'email': 'clemas.web@gmail.com', 'salario': 1000, 'alergia': 'dipirona', 'cor': 'preta'}
{'janeiro': 100000, 'fevereiro': 120000, 'março': 90000, 'abril': 88000, 'maio': 89000, 'junho': 120000}

<font color=#888888>Excluir itens do dicionário</font>

In [55]:
# Só exclui
del dados[ 'alergia' ]
del dados[ 'cor' ]

# Exclui e armazena
salario =  dados.pop( 'salario' )
print( dados )
print( salario )

{'nome': 'Clemas', 'idade': 42, 'email': 'clemas.web@gmail.com'}
1000

<font color=#888888>Percorrer um dicionário</font>

In [56]:
for chave in dados:
    print( f'{chave}: {dados[chave]}' )

nome: Clemas
idade: 42
email: clemas.web@gmail.com

<font color=#888888>Percorrer um dicionário pelos items</font>

In [57]:
print( dados.items() )
print( list( dados.items() ) )
print( '------------------' )
for item in dados.items():
    print( item )

print( '------------------' )
for chave, valor in dados.items():
    print( f'{chave}: {valor}' )

dict_items([('nome', 'Clemas'), ('idade', 42), ('email', 'clemas.web@gmail.com')])
[('nome', 'Clemas'), ('idade', 42), ('email', 'clemas.web@gmail.com')]
------------------
('nome', 'Clemas')
('idade', 42)
('email', 'clemas.web@gmail.com')
------------------
nome: Clemas
idade: 42
email: clemas.web@gmail.com

<font color=#888888>Percorrer um dicionário pelas chaves e valores</font>

In [58]:
for chave in dados.keys():
    print( chave )

print( '------------------' )
for valor in dados.values():
    print( valor )

nome
idade
email
------------------
Clemas
42
clemas.web@gmail.com

<font color=#888888>Ordenar um dicionário</font>

In [60]:
vendas = {
    'notebook asus': 2450,
    'iphone': 15000,
    'samsung galaxy': 12000,
    'tv samsung': 10000,
    'ps5': 14300,
    'tablet': 1720,
    'notebook dell': 17000,
    'ipad': 1000,
    'tv philco': 2500,
    'notebook hp': 1000
}
d_chaves = vendas.keys()
l_chaves = list( d_chaves )
l_chaves.sort()
for chave in l_chaves:
    print( f'{chave}: {vendas[chave]}' )

ipad: 1000
iphone: 15000
notebook asus: 2450
notebook dell: 17000
notebook hp: 1000
ps5: 14300
samsung galaxy: 12000
tablet: 1720
tv philco: 2500
tv samsung: 10000

<font color=#888888>Convertendo lista em dicionário</font>

In [75]:
produtos = ['iphone', 'samsung galaxy', 'tv samsung', 'ps5', 'tablet', 'ipad', 'tv philco', 'notebook hp', 'notebook dell', 'notebook asus']
vendas = [15000, 12000, 10000, 14300, 1720, 1000, 2500, 1000, 17000, 2450]

# Método 1 -> Convertendo uma lista com valor padrão
dic1 = dict.fromkeys( produtos, 0 )
print( dic1 )

# Método 2 -> Convertendo com uma lista de tuplas
l_tup = []
for i in range( len( produtos ) ):
    l_tup.append( ( produtos[i], vendas[i] ) )
dic2 = dict( l_tup )
print( dic2 )

# Método 3 -> Convertendo a partir de um objeto
obj_tuplas = zip( produtos, vendas )
dic3 = dict( obj_tuplas )
print( dic3 )

{'iphone': 0, 'samsung galaxy': 0, 'tv samsung': 0, 'ps5': 0, 'tablet': 0, 'ipad': 0, 'tv philco': 0, 'notebook hp': 0, 'notebook dell': 0, 'notebook asus': 0}
{'iphone': 15000, 'samsung galaxy': 12000, 'tv samsung': 10000, 'ps5': 14300, 'tablet': 1720, 'ipad': 1000, 'tv philco': 2500, 'notebook hp': 1000, 'notebook dell': 17000, 'notebook asus': 2450}
{'iphone': 15000, 'samsung galaxy': 12000, 'tv samsung': 10000, 'ps5': 14300, 'tablet': 1720, 'ipad': 1000, 'tv philco': 2500, 'notebook hp': 1000, 'notebook dell': 17000, 'notebook asus': 2450}

<font color=#888888>Convertendo 3 listas ( tupla )</font>

In [76]:
produtos = ['iphone', 'galaxy', 'ipad', 'tv', 'máquina de café', 'kindle', 'geladeira', 'adega', 'notebook dell', 'notebook hp', 'notebook asus', 'microsoft surface', 'webcam', 'caixa de som', 'microfone', 'câmera canon']
vendas2019 = [558147,712350,573823,405252,718654,531580,973139,892292,422760,154753,887061,438508,237467,489705,328311,591120]
vendas2020 = [951642,244295,26964,787604,867660,78830,710331,646016,694913,539704,324831,667179,295633,725316,644622,994303]

l_vendas = list( zip( vendas2019, vendas2020 ) )
dic4 = dict( zip( produtos, l_vendas ) )
print( dic4 )

{'iphone': (558147, 951642), 'galaxy': (712350, 244295), 'ipad': (573823, 26964), 'tv': (405252, 787604), 'máquina de café': (718654, 867660), 'kindle': (531580, 78830), 'geladeira': (973139, 710331), 'adega': (892292, 646016), 'notebook dell': (422760, 694913), 'notebook hp': (154753, 539704), 'notebook asus': (887061, 324831), 'microsoft surface': (438508, 667179), 'webcam': (237467, 295633), 'caixa de som': (489705, 725316), 'microfone': (328311, 644622), 'câmera canon': (591120, 994303)}

<font color=#888888>Limpar o dicionário</font>

In [59]:
# del dados # exclui a variável inteira
dados.clear()
print( dados )

{}

<font color=#888888>Juntando dois dicionários</font>

In [3]:
vendas_produtos = (1500, 150, 2100, 1950)
produtos = ('vinho', 'cafeiteira', 'microondas', 'iphone')

nova_lista = zip( produtos, vendas_produtos )
print( type( nova_lista ) )
nova_lista = list( nova_lista )
print( nova_lista )

<class 'zip'>
[('vinho', 1500), ('cafeiteira', 150), ('microondas', 2100), ('iphone', 1950)]